-- ----------------------------
-- Table structure for todo_task
-- ----------------------------
DROP TABLE IF EXISTS `todo_task`;
CREATE TABLE `todo_task`
(
    `id`          bigint UNSIGNED                                               NOT NULL AUTO_INCREMENT COMMENT '主键ID',
    `title`       varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci  NOT NULL COMMENT '待办标题',
    `description` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NULL     DEFAULT NULL COMMENT '待办描述',
    `status`      tinyint                                                       NOT NULL DEFAULT 0 COMMENT '状态 0未完成 1已完成',
    `priority`    tinyint                                                       NOT NULL DEFAULT 0 COMMENT '优先级 0普通 1重要 2紧急',
    `due_date`    datetime                                                      NULL     DEFAULT NULL COMMENT '截止日期',
    `assignee`    varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci  NULL     DEFAULT NULL COMMENT '负责人',
    `create_by`   varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci  NULL     DEFAULT NULL COMMENT '创建者',
    `create_time` datetime                                                      NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_by`   varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci  NULL     DEFAULT NULL COMMENT '更新者',
    `update_time` datetime                                                      NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    `del_flag`    tinyint                                                       NOT NULL DEFAULT 0 COMMENT '逻辑删除 0正常 1删除',
    PRIMARY KEY (`id`) USING BTREE,
    INDEX `idx_status` (`status` ASC) USING BTREE,
    INDEX `idx_priority` (`priority` ASC) USING BTREE,
    INDEX `idx_due_date` (`due_date` ASC) USING BTREE,
    INDEX `idx_assignee` (`assignee` ASC) USING BTREE
) ENGINE = InnoDB
  AUTO_INCREMENT = 1
  CHARACTER SET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci COMMENT = '待办事项表'
  ROW_FORMAT = DYNAMIC;

-- ----------------------------
-- Records of todo_task
-- ----------------------------
INSERT INTO `todo_task` (`title`, `description`, `status`, `priority`, `due_date`, `assignee`, `create_by`)
VALUES ('完成项目文档', '编写项目的技术文档和用户手册', 0, 1, '2026-01-31 18:00:00', '张三', 'admin');

INSERT INTO `todo_task` (`title`, `description`, `status`, `priority`, `due_date`, `assignee`, `create_by`)
VALUES ('修复登录页面bug', '解决登录页面在移动端显示异常的问题', 0, 2, '2026-01-25 12:00:00', '李四', 'admin');

INSERT INTO `todo_task` (`title`, `description`, `status`, `priority`, `due_date`, `assignee`, `create_by`)
VALUES ('代码审查', '审查团队成员提交的代码', 1, 0, '2026-01-24 17:00:00', '王五', 'admin');


