<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.illichitcat.system.dao.mapper.UserOnlineMapper">
    <delete id="deleteBySessionId">
        DELETE
        FROM sys_user_online
        WHERE id = #{sessionId}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM sys_user_online WHERE id IN
        <foreach collection="sessionIds" item="sessionId" open="(" separator="," close=")">
            #{sessionId}
        </foreach>
    </delete>

    <delete id="deleteByUserId">
        DELETE
        FROM sys_user_online
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteExpiredSessions">
        DELETE
        FROM sys_user_online
        WHERE expire_time &lt; #{now}
    </delete>

    <update id="updateLastTime">
        UPDATE sys_user_online
        SET last_time = #{lastTime}
        WHERE id = #{sessionId}
    </update>
</mapper>