package ${packageName}.dao.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.model.entity.${table.className};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${table.tableComment}Mapper接口
 *
 * @author ${table.functionAuthor}
 * @since ${datetime}
 */
@Mapper
public interface ${table.className}Mapper extends BaseMapper<${table.className}> {
}