package ${packageName}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${packageName}.dao.mapper.${table.className}Mapper;
import ${packageName}.model.entity.${table.className};
import ${packageName}.service.${table.className}Service;
import org.springframework.stereotype.Service;

/**
 * ${table.tableComment}Service实现类
 *
 * @author ${table.functionAuthor}
 * @since ${datetime}
 */
@Service
public class ${table.className}ServiceImpl extends ServiceImpl<${table.className}Mapper, ${table.className}> implements ${table.className}Service {
}