@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

/* 验证码组件样式支持 */
#tianai-captcha-parent {
  z-index: 9999 !important;
}

#tianai-captcha-parent #tianai-captcha-bg-img {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#tianai-captcha-parent #tianai-captcha-slider-move-img {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
